/* .dashboard-section {
    margin: 55px auto 0 auto;
    padding: 50px 0;
    max-width: 1000px;
    font-family
: "Inter", sans-serif;
} */

.dashboard-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    padding: 0px;
    justify-content: center;
}

#dashboard {
    padding: 0;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: stretch;
}

#dashboard li a:link,
#dashboard li a:visited,
#dashboard li a:active,
#dashboard li a:hover {
    color: rgb(0, 0, 0);
}

#dashboard li a {
    width: 100%;
    height: 100%;
}

#dashboard li {
    width: 100%;
    text-align: center;
    flex-basis: 30%;
    flex-grow: 1;
}

.dashboard-item {
    background-color: transparent;
    font-size: clamp(14px, 4vw, 17px);
    padding: 5%;
    height: inherit;
    border: 1px solid;
    border-color: var(--secondary-colour);
    border-radius: 4px;
    color: var(--secondary-colour);
}

#dashboard i {
    margin-bottom: 5px;
}

.dashboard-item:hover {
    background-color: #233554;
    cursor: pointer;
}

ul li {
  margin: 0px 5px;
  font-size: 13px;
}

a {
  display: inline-block;
}

a:link,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: var(--secondary-colour);
}

ul {
  list-style-type: none;
  display: flex;
}